# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Dados e modelos (versionados via DVC, não Git)
/data/raw/*
/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/data/raw/*.dvc
!/data/processed/*.dvc
!/data/raw/.gitignore
!/data/processed/.gitignore
/models/*
!/models/.gitkeep
!/models/*.dvc
mlruns/
mlflow.db

# Ambiente
.env

# IDE
.vscode/
.DS_Store